
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicons/favicon.ico" type="image/x-icon"/>
    <title>KONESPO</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/42b63e661f.js" crossorigin="anonymous"></script>
    <!--google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap" rel="stylesheet">

  </head>

  <body class="text-center">
    <form class="add-item" action="/additem" method="post">
      <h1 class="h3 mb-3 font-weight-normal brand">ADD ITEM</h1>
      <label for="inputName" class="sr-only">Item Name</label>
      <input type="text" name="itemName" id="inputName" class="form-control" placeholder="Item Name" required autofocus>
      <label for="inputImageURL" class="sr-only">Image URL</label>
      <input type="text" name="imageURL" id="inputImageURL" class="form-control" placeholder="Image URL" required>
      <label for="inputItemPrice" class="sr-only">Price</label>
      <input type="number" name="itemPrice" id="inputItemPrice" class="form-control" placeholder="Item Price" required>
      <label for="inputNumberItems" class="sr-only">Image URL</label>
      <input type="number" name="itemNumber" id="inputNumberItems" class="form-control" placeholder="Number of these items" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">ADD ITEM</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
    </form>
  </body>
</html>
